{% extends "base_pesquisas.html" %}

{% block page_header %}
    <h2 class="text-center"> {{ header }} </h2>
{% endblock %}

{% block form_pesquisa %}
<form class="row g-3" method="post" action="{{ url_for('obter_categoria', _method='POST') }}">
        {{ form.csrf_token }}
        <div class="row p-2">
            <div class="col-md-2">
              {{ form.id.label(for="id",class="form-label") }}
              {{ form.id(class="form-control", id="id") }}
            </div>
            <div class="col-md-5">
                {{form.ds_categoria.label(for="ds_categoria",class="form-label") }}
                {{ form.ds_categoria(class="form-control", id="id") }}
            </div>

        </div>

        <div class="row p-2">
            <div class="col-md-12">
                {{ form.submit(class="btn btn-primary") }}
                {{ form.submit(class="btn btn-primary",value="Fechar") }}
            </div>
        </div>
    </form>
{% endblock %}

{% block grid_resultado %}
    <div class="table-responsive">
        <table class="table table-bordered border-primary table-hover  table-sm"  >
                  <thead class="p-3 mb-2 bg-primary text-white ">
                  <!--navbar-dark bg-primary or (bg-light text-dark)-->
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Descrição</th>

                    </tr>
                  </thead>
                  <tbody>
                  {% for dado in dados %}
                    <tr class = "align-middle">
                      <td class="text-nowrap" scope="row">{{ dado.id }}</td>
                      <td class="text-nowrap" scope="row">{{ dado.ds_categoria }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
        </table>
    </div>
{% endblock %}